@model Test3.Models.Depo
<h5 class="card-title">Detail</h5>
<div class="card" style="max-width: 18rem;">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
            <b>@Html.DisplayNameFor(xxxx => xxxx.Ad) :</b>     @Html.DisplayFor(xxxx => xxxx.Ad)
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
            <b>@Html.DisplayNameFor(xxxx => xxxx.Soyad) :</b>     @Html.DisplayFor(xxxx => xxxx.Soyad)
        </h6>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" onclick="confirm('Are you sure you want to delete the record')"/> |
                @Html.ActionLink("Click Back", "Index", null, null, new { @class = "btn btn-success" })
            </div>
        }
    </div>
</div>